.Scenario {
    width: 100%;

    box-sizing: border-box;

    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;

    display: inline-flex;
    flex-direction: row;

    background-color: #404040;
    border-radius: 128px;

    align-items: center;
    justify-content: space-between;
}

.Scenario:hover {
    background-color: #666666;
    opacity: 0.75;
}

.Scenario-Name {
    margin: 0px;

    font-weight: 600;

    user-select: none;
}

.Scenario-Button {
    background-color: transparent;
    border-style: none;
}

.Scenario-Img {

}

.Scenario-Img:hover {
    opacity: 0.75;
}

.Scenario-Img:active {
    opacity: 0.5;
}