.Agent {
    width: 95%;

    padding-left: 24px;
    padding-right: 32px;

    box-sizing: border-box;

    display: inline-flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    
    gap: 4rem;

    background-color: #404040;
    border-radius: 16px;
}

.Agent-Info-One {
    display: inline-flex;
    flex-direction: column;

    gap: 0px;

    align-items: center;
}

.Agent-Info-Name {
    margin-top: 16px;
    margin-bottom: 4px;
}

.Agent-Info-Address {
    margin-top: 4px;

    color: #BEBEBE;
}

.Agent-Info-Two {
    width: 100px;

    display: inline-flex;
    flex-direction: column;

    gap: 0px;

    align-items: center;
    justify-content: center;
}

.Agent-Info-Status {
    margin-top: 8px;
    margin-bottom: 4px;
}

.Agent-Info-State {
    margin-top: 4px;
    margin-bottom: 16px;

    color: #BEBEBE;
    font-style: italic;
}

.Green-Text {
    color: #39b54a;
}

.Red-Text{
    color: #ff0000;
}

@media only screen and (max-width: 500px) { 
    .Agent {
        flex-direction: column;
        gap: 0rem;
    }

    .Agent-Info-Status {
        margin-top: 0px;
    }
}