.Dashboard {
    width: 50%;
    height: 100%;

    display: inline-flex;
    flex-direction: column;

    align-items: center;
}

.Dashboard-Title {

}

.Dashboard-Container {
    width: 100%;
    height: 100%;

    display: inline-flex;
    flex-direction: column;

    background-color: #2a2a2a;

    border-radius: 48px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.Dashboard-Map {
    width: 100%;
    
    margin: 32px;

    border-radius: 48px;

}

@media only screen and (max-width: 1348px) { 
    .Dashboard {
        width: 100%;
        flex-direction: column;
    }
}